html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  overflow: hidden;
  width: 100%;
  position: relative;
  max-height: 500px;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner-title {
  font-size: 4rem;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: inline;
  line-height: 1.4;
}

.banner-info {
  font-style: italic;
  font-weight: normal;
  font-size: 2rem;
  margin: 1.3rem;
  margin-left: 0;
}

.banner-content {
  left: 50%;
  bottom: 1rem;
  position: absolute;
  padding: 0 1rem;
  transform: translateX(-50%);
  max-width: 45rem;
  width: 100%;
}
